# Footprint analysis

The footprints are derived from the APPLAUSE table created by this query:

```
SELECT DISTINCT p.telescope, p.ota_aperture, p.date_orig, e.ut_mid,
    e.exptime, p.plate_format, pl.emulsion, p.plate_id, sc.filename_scan,
    s.ra_icrs, s.dec_icrs, s.fov1, s.fov2,
    s.pixel_scale, sc.naxis1, sc.naxis2, s.stc_polygon, 
    p.observatory, p.site_name, p.site_longitude, p.site_latitude
FROM applause_dr4.plate AS p
LEFT JOIN applause_dr4.exposure AS e USING (plate_id)
LEFT JOIN applause_dr4.solution AS s USING (plate_id)
LEFT JOIN applause_dr4.scan AS sc USING (plate_id)
LEFT JOIN  applause_dr4.plate AS pl USING (plate_id)
WHERE p.ota_aperture > 0.6
AND s.header_wcs IS NOT NULL
AND e.exptime > 300
AND p.numexp < 2
AND e.year_mid < 1958.0
ORDER BY p.ota_aperture, p.telescope, p.date_orig, p.plate_format;
```

The purpose is to find which plates share overlapping footprints.

In [1]:
import os, io
import warnings
import csv

import numpy as np

import pandas as pd

from astropy import units as u
from astropy.io import fits
from astropy.io.fits import Header, Card
from astropy.table import Table, unique, vstack
from astropy.time import Time
from astropy.wcs import WCS
from astropy.coordinates import SkyCoord, Longitude, Latitude, EarthLocation
from astropy.utils.exceptions import AstropyWarning

from regions import PolygonSkyRegion
from mocpy import MOC

from erfa import ErfaWarning
from earthshadow import get_shadow_center, get_shadow_radius, dist_from_shadow_center

from settings import DATAPATH, fname, get_table_psf_nomatch

# Total sky area in steradians
ALL_SKY = 4 * np.pi * u.steradian

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
warnings.simplefilter('ignore', category=AstropyWarning)
warnings.simplefilter('ignore', category=ErfaWarning)
warnings.simplefilter('ignore', category=FutureWarning)

## Functions

In [3]:
def compute_moc(table, row):
    e = table['stc_polygon'][row].split()

    ra  = Longitude([e[2], e[4], e[6], e[8]], unit=u.deg)
    dec = Latitude ([e[3], e[5], e[7], e[9]], unit=u.deg)
    
    moc = MOC.from_polygon(ra, dec)
    
    area = moc.sky_fraction * ALL_SKY
    area_deg2 = area.to(u.deg**2).value

    return moc, area_deg2

In [4]:
def compute_moc_intersection(moc1, moc2):

    intersection_moc = moc1.intersection(moc2)

    area = intersection_moc.sky_fraction * ALL_SKY
    area_deg2 = area.to(u.deg**2).value
    
    return intersection_moc, area_deg2

In [5]:
def compute_earth_shadow(table, row_index):
    
#     longitude = 10.242    # TODO: take this from main csv input file instead
#     latitude  = 53.482

    longitude = table['site_longitude'][row_index]
    latitude  = table['site_latitude'][row_index]

    ra  = table['ra_icrs'][row_index]
    dec = table['dec_icrs'][row_index]

    location = EarthLocation.from_geodetic(longitude, latitude, 0.0)
    es_radius = get_shadow_radius(orbit='GEO', geocentric_angle=False)

    time_date = Time(table['ut_mid'][row_index])
    
    dist = dist_from_shadow_center(ra, dec, time=time_date, obs=location, orbit='GEO')

    return dist

In [6]:
def scan_table(table, result, match_area):

    # pre-compute a footprint moc and an Earth's shadow angular
    # distance for every table row
    mocs = []
    areas = []
    es = []

    for row_index in range(len(table)):
        moc, area = compute_moc(table, row_index)
        es_r = compute_earth_shadow(table, row_index)

        mocs.append(moc)
        areas.append(area)
        es.append(es_r)

    # find matching plates by looking for footprint matches
    # within a given criteria.
    for i1 in range(len(table)):

#         # ignore rows already examined
#         if table['stc_polygon'][i1] == "":
#             continue

        # start from i1+1 to avoid self-reference
#         for i2 in range(i1+1, len(table)):
        for i2 in range(len(table)):
        
            # ignore if same row:
            if i1 == i2:
                continue

#             # ignore rows already selected
#             if table['stc_polygon'][i2] == "":
#                 continue
                
            # ignore if exposure times are different. They cause different
            # detection thresholds in sextractor.
            if table['exptime'][i2] != table['exptime'][i1]:
                continue

            moc_inter, area_inter = compute_moc_intersection(mocs[i1], mocs[i2])

            minarea = min(areas[i1], areas[i2])
            if area_inter > minarea * match_area:

                # in case of a match in area, see if this is a duplicate scan of 
                # the same plate; skip over duplicates
                if table['ut_mid'][i1] == table['ut_mid'][i2]:
                    continue
 
                t1 = Time(table['ut_mid'][i1])
                t2 = Time(table['ut_mid'][i2])
                dt = t2.mjd - t1.mjd
                
                fov1_1 = table['fov1'][i1] 
                fov1_2 = table['fov1'][i2] 
                
                processed = find_processed(table['plate_id'][i1], table['plate_id'][i2])

                result.add_row([
#                     processed,
#                     i1, i2,
                    table['plate_id'][i1], table['plate_id'][i2],
#                     table['exptime'][i1], table['exptime'][i2],
#                     table['emulsion'][i1], table['emulsion'][i2],
                    table['ut_mid'][i1], table['ut_mid'][i2],
                    fov1_1, fov1_2,
                    t1.mjd, dt, (area_inter / minarea),
                    es[i1]
                ])

                # mark row as already taken
                table['stc_polygon'][i2] = ""
    
    return result

In [7]:
def make_table():
#     table = Table(names=['processed', 'row1', 'row2', 'plate_id_1', 'plate_id_2', 'exptime_1', 'exptime_2',
#                           'emulsion_1', 'emulsion_2', 'ut_mid_1', 'ut_mid_2', 'delta_time', 'area'],
#                   dtype=['S1', 'i4', 'i4', 'i4', 'i4', 'i4', 'i4', 'S1', 'S1', 'S1', 'S1', 'f4', 'f4'])
    
    table = Table(names=['plate_id_1', 'plate_id_2', 'ut_mid_1', 'ut_mid_2', 'fov1_1', 'fov1_2', 
                         'mjd_1', 'delta_time', 'area', 'es'],
                  dtype=['i4', 'i4', 'S1', 'S1', 'f4', 'f4', 'f4', 'f4', 'f4', 'f4'])

    table['fov1_1'].format = '%.2f' 
    table['fov1_2'].format = '%.2f' 
    table['mjd_1'].format = '%.2f' 
    table['delta_time'].format = '%.4f' 
    table['area'].format = '%.2f' 
    table['es'].format = '%.4f' 
    
    return table

In [8]:
def group_by_mjd(table, colname):
    
    groups = [0]
    current_group = 0
    mjds = table['mjd_1'].astype(int)
    
    for index in range(1, len(mjds)):
        
        if mjds[index] != mjds[index-1]:
            current_group += 1

        groups.append(current_group)
    
    table[colname] = groups
    
    return table

In [9]:
def find_matching_plates(table, match_area=0.99):
    result = make_table()

    return scan_table(table, result, match_area)

In [10]:
def display_with_pandas(table):
    df = table.to_pandas()

    df['ut_mid_1'] = df['ut_mid_1'].apply(lambda x: x.decode('utf-8'))
    df['ut_mid_2'] = df['ut_mid_2'].apply(lambda x: x.decode('utf-8'))
    
    format_mapping = {
        'fov1_1': '{:.2f}'.format,  
        'fov1_2': '{:.2f}'.format,  
        'mjd_1': '{:.2f}'.format,  
        'delta_time': '{:.4f}'.format,  
        'area': '{:.2}'.format,
        'es': '{:.4}'.format,
    }
    styled_df = df.style.format(format_mapping)
    display(styled_df)

In [11]:
def find_processed(plate1, plate2):
    result = ""
    
    filename = fname(get_table_psf_nomatch(plate1, plate2))
    try:
        f = open(filename, 'r')
        result = 'YES'
        f.close()
    except FileNotFoundError:
        result = ''

    return result

## Read footprints table generated by APPLAUSE database

In [12]:
table_input = Table.read('footprints_5.csv', format='ascii.csv')

In [13]:
table_input[0:4]

<Table length=4>
   telescope     ota_aperture date_orig  ... site_longitude site_latitude
     str23         float64      str10    ...    float64        float64
---------------- ------------ ---------- ... -------------- -------------
Doppel-Reflektor          0.6 1934-01-20 ...         10.242        53.482
Doppel-Reflektor          0.6 1934-01-20 ...         10.242        53.482
Doppel-Reflektor          0.6 1934-01-20 ...         10.242        53.482
Doppel-Reflektor          0.6 1934-01-20 ...         10.242        53.482

In [14]:
len(table_input)

7314

## Group table rows with common footprint

Segregate by telescope and other relevant parameters.

Table column names are mostly the same names used in the APPLAUSE tables. Plus:

- **delta_time**: difference in MJD between the two plates
- **area**: overlapping area as a fraction of the area of the plate with smaller area
- **es**: distance from Earth's shadow (deg)
- **group**: used for grouping plates based on difference in MJD

In [15]:
# # 1m-Spiegelteleskop (this has a bad comma)
# table = table_input.copy()

# mask = table['telescope'] == "1m-Spiegelteleskop"
# table = table[mask]
# mask = table['plate_format'] == "13x18"
# table = table[mask]
# mask = table['exptime'] > 1000
# table = table[mask]

# table1 = find_matching_plates(table)

In [16]:
# table1

In [17]:
# Grosser Schmidt-Spiegel
table = table_input.copy()

mask = table['telescope'] == "Grosser Schmidt-Spiegel"
table = table[mask]
# mask = table['exptime'] >= 600
# table = table[mask]

table2 = find_matching_plates(table, match_area=0.5)

/Users/busko/Projects/software/miniconda3/envs/astro/lib/python3.10/site-packages/astropy/table/table.py:3223: UserWarning: Units from inserted quantities will be ignored.
  self.insert_row(len(self), vals, mask)

In [18]:
# build column that uniquely identifies plate combinations
new_id_strings = [f"{row['plate_id_1']}_{row['plate_id_2']}" for row in table2]
table2['plates'] = new_id_strings
table2 = unique(table2, keys=['plates'])

# only accept plates taken close in time (same night)
mask = table2['delta_time'] < 1.
table2 = table2[mask]
mask = table2['delta_time'] > -0.005
table2 = table2[mask]

# table2.sort(['plates', 'delta_time'])
table2.sort(['mjd_1', 'delta_time', 'ut_mid_2'])

table2 = group_by_mjd(table2, 'group')
t_grouped = table2.group_by('group')

print(len(t_grouped))
display_with_pandas(t_grouped)

126

Based on listing above, we pick up groups with 3 or more plates taken on the same night, or at most 1 night away.

Disregard duplications and redundancies in the groups table listing above. They are removed by the code when building the plate ID sequences. 

We can copy the sequences to the *sequences* entry in the. *settings.py* file, for more permanent use.

In [19]:
last_group = table2['group'][-1]
all_groups = []

for group in range(last_group+1):

    group_list = []

    mask = table2['group'] == group
    table2_a = table2[mask]
    
    if len(table2_a) >= 3:
        display_with_pandas(table2_a)
        
        all_plates = list(table2_a['plate_id_1']) + list(table2_a['plate_id_2'])
        group_list.extend(all_plates)
        group_list = list(dict.fromkeys(group_list)) # removing duplicates in group
        group_list.sort()
        
        all_groups.append(group_list)

print()
print("--------")
print("Interesting sequences of plates:")
print()
for seqno, group in enumerate(all_groups):
    print("'seq %02i': %s," % (seqno, str(group)))

--------
Interesting sequences of plates:

'seq 00': [8794, 8795, 8796],
'seq 01': [9167, 9168, 9169],
'seq 02': [9245, 9246, 9247],
'seq 03': [9313, 9315, 9316, 9317, 9318, 9319, 9320],
'seq 04': [9321, 9322, 9323, 9324, 9325, 9326, 9327, 9328],
'seq 05': [9344, 9345, 9346, 9347, 9348, 9349, 9350],
'seq 06': [9341, 9342, 9343],
'seq 07': [9473, 9474, 9475],
'seq 08': [9488, 9489, 9490, 9491, 9492],
'seq 09': [9521, 9522, 9523],
'seq 10': [9531, 9533, 9534, 9535, 9536],
'seq 11': [9534, 9535, 9536, 9537, 9538, 9539, 9540, 9543],
'seq 12': [9542, 9543, 9544, 9545, 9546, 9547, 9548, 9549],
'seq 13': [9550, 9551, 9552],
'seq 14': [9553, 9555, 9556, 9557, 9558],